<nav class="navbar navbar-dark bg-danger">
    <a href="" class="navbar-brand">
        Game Store
    </a>
    

    <div class="navbar-nav d-flex flex-row">
        <a href=""><i class="fa fa-sign-in fa-2x" style="color:white; padding-right:24px!important;"></i></a>
        <a href="#"><i class="fa fa-shopping-cart fa-2x" style="color:white; padding-right:24px!important;"></i></a>
    </div>
    
</nav>