<%- include('./partials/header.ejs') %>

    <%- include('./partials/homeNavBar.ejs')%>

    <main style="text-align: center;">
        <h1>Bem vindo ao Game Store</h1>
    </main>
    

<%- include('./partials/footer.ejs') %>
        
